// *{
//   --background-header: #ffa7a7;
//   --borders-color: #bd7b7b;
//   --background: #FFC0CB;
//   --main-text-color: #C2185B;
// }

* {
  --background-header: #ffe0e6;
  --borders-color: #e57373;
  --background: #fff6f8;
  --main-text-color: #ad1457;
  --accent-background: #ffe4ec;
}